<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Social Login</title>

        <!--? Bootstrap -->
        <link rel="stylesheet" href="/css/bootstrap.min.css" />

        <!--? Fontawesome -->
        <link rel="stylesheet" href="/fontawesome/css/all.min.css" />
    </head>
    <body>
        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-lg-5 py-5 shadow">
                    <div class="col-7 mx-auto">
                        <h2 class="text-center mb-3">Login</h2>
                        <a href="http://localhost:3000/auth/google" class="btn btn-danger d-block mb-2"><i class="fa-brands fa-google me-2"></i>Login With Google</a>
                        <a href="" class="btn btn-primary d-block mb-2"><i class="fa-brands fa-facebook me-2 ms-3"></i>Login With Facebook</a>
                        <a href="" class="btn btn-dark d-block"><i class="fa-brands fa-github me-2"></i>Login With Github</a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
